body {
    font-family: 'Roboto', sans-serif;
    background-image: url(/Patient\ Side/images/contact.jfif);
    background-size: cover;
    background-position: auto;
    height: 100vh;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.container {
    margin: 30px;
    z-index: 1;
}

span {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.nav_icon{
    font-size: 30px;
    color: rgb(255, 255, 255);
}