body {
    font-family: 'Roboto', sans-serif;
    background-image: url(/Patient\ Side/images/timeslot.jpg);
    background-size: cover;
    background-position: auto;
    height: 100vh;
}

.container {
    z-index: 1;
}

.container-time {
    padding: 20px;
    text-align: center;
    
}

.heading {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

.form-field {
    display:inline-flexbox;
    justify-content: space-between;
    font-size: 20px;
    color: black;
    text-align:left;
}


